<link rel="stylesheet" href="/css/add_review.css">

<% if(locals.user && locals.user.isAdmin === true) {%>

    <div id="review-container">
        <h2>Assign Review</h2>

        <form action="/review/add-review/<%= users._id %>" method="post">

            <div class="input-box">
                <input type="text" name="reviewer" value="<%= user.name %>" readonly>
                <span>Reviewer</span>
            </div>

            <select name="recipient_email">
                <option value="">Select Recipient</option>
                <% for (recipient of users) { %>

                    <% if(recipient.email != user.email) { %>
                        <option value="<%= recipient.email %>">
                            <%= recipient.name %>
                        </option>
                    <% } %>

                <% } %>
            </select>

            <input type="submit" value="Assign Task">
        </form>
    </div>

<% } %>