<link rel="stylesheet" href="/css/edit_employee.css">

<% if(locals.user) { %>
    <div id="update-container">

        <h2>Update Employee Details</h2>

        <form action="/admin/update-employee/<%=employee._id%>" method="post">

            <!-- Name Input -->
            <div class="input-box">
                <input type="text" name="name" value="<%= employee.name %>" required="required">
                <span>Name</span>
            </div>

            <!-- Email Input-->

            <div class="input-box email">
                <input type="email" name="email" value="<%= employee.email %>" required="required" readonly>
                <span>Email</span>
            </div>

            <!-- role -->

            <div class="role">
                <% if(employee.isAdmin == true) { %>

                    <span>Current role: </span>
                    <span> Admin</span>

                <% } else {%>

                    <span>Current role: </span>
                    <span> Employee</span>

                <% } %>
            </div>

            <!-- role change -->

            <select name="role">
                <option value="">Select role to Change</option>
                <option name="Admin" value="Admin">Admin</option>
                <option name="Employee" value="Employee">Employee</option>
            </select>

            <input type="submit" value="Update Details">

           
        </form>
    </div>
<% } %>