<link rel="stylesheet" href="/css/sign_up.css">

<!-- sign up page -->
<div class="signup-box">
    <h1>Sign Up</h1>

    <!-- Sign Up form  -->
    <form action="/users/create" method="post">
        <input type="text" name="name", placeholder="Your Name" required> <!-- User name input  -->
        <input type="email" name="email" placeholder="Your Email" required> <!-- User email input  -->
        <input type="password" name="password" placeholder="Password" required> <!-- Password input  -->
        <input type="password" name="confirmPassword" placeholder="Confirm Password" required> <!-- confirm password input  -->
        <input type="submit" value="Sign Up"> <!--submit  -->
    </form>
</div>