#review-container {
    position: relative;
    border: 1px solid #1d2b3a;

    h2 {
        position: absolute;
        left: 24.5rem;
        // top: -4rem;
    }
    
    form {

        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40rem;
        margin: auto;
        margin-top: 5rem;
        gap: 1rem;
        
        
        .input-box {
            position: relative;
            width: 36rem;
            margin-left: 2rem;

            input {
                width: 95%;
                padding: 10px;
                border: 1px solid #00dfc4;
                background-color: #1d2b3a;
                border-radius: 0.7rem;
                outline: none;
                color: white;
                font-size: 1em;
                transition: 0.5s;

                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }

            span {
                position: absolute;
                left: 0;
                color: #00dfc4;
                transform: translateX(10px) translateY(-5px);
                font-size: 0.65em;
                pointer-events: none;
                padding: 0 10px;
                background: #1d2b3a;
                border-left: 1px solid #00dfc4;
                border-right: 1px solid #00dfc4;
                letter-spacing: 0.2em;
            }
        }

        select {
            width: 12rem;
            font-size: 1em;
            margin-left: 2rem;
            height: 2rem;
            padding-left: 10px;
            border-radius: 0.7rem;
            color: white;
            background: #1d2b3a;
            border: 1px solid #00dfc4;
            outline: none;
            overflow-y:auto;

            option {
                color: white;
                overflow-y:scroll;

            }

            &:hover {
                cursor: pointer;
                outline: none;

            }

        }

        input[type="submit"] {
            font-size: 1em;
            width: 35.7rem;
            height: 3rem;
            margin-top: 1.5rem;
            margin-left: 2rem;
            border: none;
            color: white;
            border-radius: 0.7rem;
            background-color: #49c1a2;
            transition: 0.5s;
            
            &:hover {
                background-color: #4bb543;
                cursor: pointer;
            }
        }
    }
}